#submit-gif{
    margin-top: 10px;
}

#result-but{
    margin-top:25px;
}
.floatin{
    float: left;
    margin-right: 5px;

}
.ratingcap{
    
    margin-top:5px;
}
.gif-but{
    margin-right:2px;
    margin-bottom: 10px;
}
body{
    background: #ff6e7f;  /* fallback for old browsers -- from uigradients.com */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.gif-but{
    font-family: 'Poppins', sans-serif;
    color:darkblue;
}
label{
    color:white;
    font-family: 'Staatliches'; /*google fonts*/
}
