#submit-gif{
    margin-top: 10px;
}

#result-but{
    margin-top:25px;
}
.floatin{
    float: left;
    margin-right: 5px;

}
.ratingcap{
    
    margin-top:5px;
}
.gif-but{
    margin-right:2px;
    margin-bottom: 10px;
}